<div class="modal-overlay" *ngIf="isVisible" (click)="closeModal()">
  <!-- contenido del modal  -->
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h3 class="title">{{titulo}}</h3>
    <button class="close" (click)="closeModal()">X</button>
    <div class="modal-body">
      <ng-content></ng-content>
      <div *ngIf="formatData">
        <app-formato-visual></app-formato-visual>
      </div>
      <!-- 
        <div *ngIf="true">
          <app-pasos title="pasos" [items]=PasosFormato></app-pasos>
        <app-button clases_btn="btn crear icon flex-start margin_top margin_left" Id="btn-1" texto="crear"
        clases_icono=" fas fa-plus-circle icon">
      </app-button>
    </div> -->
    
    <div *ngIf="CrearCamposBandera">
      <app-formulario-crear-campo ></app-formulario-crear-campo>
    </div>

    <div *ngIf="mensajeMotivoRechazo">
      <p [ngClass]="{'active_class': active_class, 'inactive-class': !active_class}">{{mensajeMotivoRechazo}}</p>
    </div>
  </div>
</div>
</div>