<div class="body-menus">
    <div *ngFor="let menu of menus; let i = index">
        <section class="menu" (click)="toggleSubMenu(i)">
            <p>{{ menu.name }}</p>
            <i class="fa" [class.fa-arrow-down]="!isSubMenuOpen[i]" [class.fa-arrow-up]="isSubMenuOpen[i]"></i>
        </section>
        <section class="sub-menu" [class.hidden]="!isSubMenuOpen[i]">
            <ul>
                <li *ngFor="let submenu of menu.submenus" routerLinkActive="contenedorActive">
                    <a [routerLink]="[submenu.link]" routerLinkActive="active-submenu" >{{ submenu.name }}</a>
                </li>
            </ul>
        </section>
    </div>
</div>