  
  .information-body.ng-hidden {
    display: none; /* Oculta el contenido */
  }
  .information-body.ng-visible {
    display: block; /* Muestra el contenido */
  }
  .display {
    display: flex;
  }
  
  
  