<section class="contenedor-information">
    <div class="information-section" [ngClass]="{'no-flex': !isInformationBodyVisible['section1']}">
        <!-- Header  -->
        <app-header texto='Crear Formatos' [arrowIconClass]="getArrowIconClass('section1')"
            (iconClick)="toggleSection('section1')">
        </app-header>
        <!-- button -->
        <!-- Contenedor de la informacion  -->
        <!-- <app-button clases_btn="btn crear icon flex-start margin_top margin_left" Id="btn-1" texto="crear"
            clases_icono=" fas fa-plus-circle icon" *ngIf="isInformationBodyVisible['section1']">
        </app-button> -->

        <div class="information-body" *ngIf="isInformationBodyVisible['section1']"
            [ngClass]="{'ng-visible': isInformationBodyVisible['section1'], 'ng-hidden':!isInformationBodyVisible['section1']}">
           <app-crear-formato></app-crear-formato>
        </div>

        <div class="separador" *ngIf="isInformationBodyVisible['section1']">
        </div>
    </div>



    <div class="information-section "  [ngClass]="{'no-flex': !isInformationBodyVisible['section2']}">
        <app-header texto="CAMPOS DEL FORMATO" [arrowIconClass]="getArrowIconClass('section2')"
            (iconClick)="toggleSection('section2')"></app-header>
        <div class="information-body" *ngIf="isInformationBodyVisible['section2']"
            [ngClass]="{'ng-visible': isInformationBodyVisible['section2'], 'ng-hidden': !isInformationBodyVisible['section2']}">
            <div class="contenedor-funciones">
                <!-- LISTA DE PASOS  O CAMPOS -->
                <div class="contenedor-listas">
                    <app-pasos title="CAMPOS" [items]="itemsCampos" (action)="onAction($event.accion, $event.fila||[])">></app-pasos>
                    <!-- (action)="onAction($event.accion, $event.fila||[])" -->
                    <app-button clases_btn="btn crear icon flex-start margin_top margin_left" Id="btn-1" texto="crear"
                    clases_icono=" fas fa-plus-circle icon"  (click)="OpenModalCrearCampos()">
                        </app-button>
                </div>
               
                
            </div>

            <div class="separador">
    
            </div>
        </div>
    </div>

    <div class="information-section" *ngIf="items.length>0" [ngClass]="{'no-flex': !isInformationBodyVisible['section3']}">
        <app-header texto="PASOS DEL FORMATO" [arrowIconClass]="getArrowIconClass('section3')"
            (iconClick)="toggleSection('section3')"></app-header>
        <div class="information-body" *ngIf="isInformationBodyVisible['section3']"
            [ngClass]="{'ng-visible': isInformationBodyVisible['section3'], 'ng-hidden': !isInformationBodyVisible['section3']}">
            <div class="contenedor-funciones">
                <!-- LISTA DE PASOS  O CAMPOS -->
                <div class="contenedor-listas">
                    <app-pasos title="PASOS" (action)="onAction($event.accion, $event.fila||[])"             [items]="items"
                    ></app-pasos>
                    <app-button clases_btn="btn crear icon flex-start margin_top margin_left" Id="btn-1" texto="crear"
                    clases_icono=" fas fa-plus-circle icon" (click)="OpenModalCrearPasos()">
                        </app-button>
                </div>
               
                
            </div>

            <div class="separador">
    
            </div>
        </div>
    </div>

    <app-modal></app-modal>
    <!-- <div class="information-section">
        <app-header texto="Informacion3 " [arrowIconClass]="getArrowIconClass('section3')"
            (click)="toggleSection('section3')"></app-header>
        <div class="information-body" *ngIf="isInformationBodyVisible['section3']"
            [ngClass]="{'ng-visible': isInformationBodyVisible['section3'], 'ng-hidden': !isInformationBodyVisible['section3']}">

            <app-button clases_btn="btn editar icon margin-basic flex-start" Id="btn-1" texto="Abrir Modal"
                clases_icono=" fas far fas fa-check-double icon" (click)="openModal()"></app-button>
            <app-modal [isVisible]="isModalVisible" titulo="Notificacion">
                <p>Se ha Confirmado El registro de los Atributos.</p>
                <app-button clases_btn="btn crear icon margin-basic flex-start" Id="btn-1" texto="Aceptar"
                    clases_icono=" fas far fas fa-check-double icon" (click)="closeModal()"></app-button>
            </app-modal>



            <label class="selector_atributo row">
                Tecnico
                <p class="repetir" id="repetir"></p>
                <input type="checkbox" class="checker-input" id="checker">
            </label>
            <label class="selector_atributo row">
                Tecnico
                <p class="repetir" id="repetir"></p>
                <input type="checkbox" class="checker-input" id="checker">
            </label>
            <label class="selector_atributo row">
                Tecnico
                <p class="repetir" id="repetir"></p>
                <input type="checkbox" class="checker-input" id="checker">
            </label>
            <label class="selector_atributo row">
                Tecnico
                <p class="repetir" id="repetir"></p>
                <input type="checkbox" class="checker-input" id="checker">
            </label>
            <label class="selector_atributo row">
                Tecnico
                <p class="repetir" id="repetir"></p>
                <input type="checkbox" class="checker-input" id="checker">
            </label>
        </div>
    </div> -->
</section>